<h2>글 수정</h2>

<%= form_with(model: @post, local: true) do |form| %>
  <div>
    <%= form.label :title, "제목" %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :content, "내용" %><br>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.submit "수정 완료" %>
  </div>
<% end %>
