<h1>멋진 블로그</h1>
<%= link_to "새 글 작성", new_post_path %>

<ul>
  <% @posts.each do |post| %>
    <li>
      <strong><%= post.title %></strong><br>
      <%= post.content %><br>
      <%= link_to "수정", edit_post_path(post) %> |
      <%= link_to "삭제", post_path(post), method: :delete, data: { confirm: "정말 삭제할까요?" } %>
    </li>
  <% end %>
</ul>
